<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Delete Branch</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <p class="display-4">Doriti sa stergeti Campusul?</p>
                <p class="display-4"><strong>Toate obiectele campusului vor fi de asemenea sterse!!!</strong></p>

                <a class="btn btn-danger" role="button" asp-controller="Branch" asp-action="PlaceDelete">STERGE</a>
            </div>
        </div>
    </body>
    </html>