<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Delete Asset</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <p class="display-4">Doriti sa stergeti acest obiect?</p>
            <a class="btn btn-danger m-auto" role="button" asp-controller="Catalog" asp-action="PlaceDelete">STERGE</a>
        </div>
    </div>
</body>
</html>